* {
  margin: 0;
}

/* LOGIN / This applies from 0px to 600px */
body {
  background: #eeeeee;
}

.cabecera {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  width: 100%;
  height: 50vh;
  background: url("img/women/04-janis.jpg") no-repeat 40% top;
  background-position: center;
}

.layer {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      90deg,
      rgba(171, 39, 138, 1) 35%,
      rgba(178, 196, 245, 1) 100%
    )
    no-repeat;
  opacity: 76%;
}

.layer img {
  width: 200px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  font-family: "Oxygen", sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: .8em;
  background-color: #eeeeee;
}

#access {
  width: 200px;
  height: 35px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: black;
  border: 0em;

  color: white;
}

#access:hover {
  background: linear-gradient(
      90deg,
      rgba(171, 39, 138, 1) 35%,
      rgba(178, 196, 245, 1) 100%
    )
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
  font-family: "Oxygen", sans-serif;
  line-height: 30px;
}

.not-password-yet {
  font-size: 0.7em;
}


/* LOGIN / This applies from 600px onwards */

@media (min-width: 600px) {

  .cabecera {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .top {
    width: 50%;
    height: 100vh;
  }

  #access:hover {
    background: linear-gradient(
        90deg,
        rgba(171, 39, 138, 1) 35%,
        rgba(178, 196, 245, 1) 100%
      )
  }

  .bottom {
    width: 50%;
  }

  .layer {
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgba(171, 39, 138, 1) 35%,
      rgba(178, 196, 245, 1) 100%
    );
    opacity: 76%;
  }

  .layer img {
    width: 200px;
  }

}


/* SUBMIT / This applies from 0 to 600px */
.bottom-register {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.submit {
  margin-top: 2.5em;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-bottom: 30px;
}

.input {
  border: 0em;
  font-family: "Oxygen", sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: .8em;
}

.submit p {
  font-size: 0.7em;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 50px;
}

#register {
  width: 200px;
  height: 35px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: black;
  color: #eeeeee;
  border: 0em;
}

#register:hover {
  background: linear-gradient(
      90deg,
      rgba(171, 39, 138, 1) 35%,
      rgba(178, 196, 245, 1) 100%
    )
}

/* SUBMIT / This applies from 600px onwards */

@media (min-width: 600px) {
  .bottom-register {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .submit {
    margin-top: 2.5em;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .submit p {
    font-size: 0.7em;
    font-family: "Oxygen", sans-serif;
    margin-bottom: 50px;
  }

  .input {
    border: 0em;
    font-family: "Oxygen", sans-serif;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: .8em;
  }

  #register:hover {
    background: linear-gradient(
        90deg,
        rgba(171, 39, 138, 1) 35%,
        rgba(178, 196, 245, 1) 100%
      )
  }
}


/* HOME / This applies from 0 to 600px  */

.cabeceraHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.topHome {
  width: 100%;
  height: 30vh;
  
  background: url("img/women/02-patti.jpg") no-repeat 40% top;
  background-position: center;
}
  
.layerHome {
  width: 100%;
  height: 30vh;
  
  background: linear-gradient(
    90deg,
    rgba(171, 39, 138, 1) 35%,
    rgba(178, 196, 245, 1) 100%
  ) no-repeat;
  opacity: 76%;
}
  
.layerHome img {
  width: 200px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: left;

  font-family: "Oxygen", sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: .8em;

  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  padding-top: 22px;
}

#post-title {
  width: 350px;
  height: 20px;

  background-color: rgba(178, 196, 245, 1);
  border: none;

  margin-bottom: 5px;

  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;  
}

#post-description {
  width: 350px;
  height: 50px;

  background-color: rgba(178, 196, 245, 1);
  border: none;

  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
}

.containerLikeBtn {
  margin-left: 285px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.fa-thumbs-up {
  color: grey;
}

#likeBtn {
  padding-top: 5px;
  padding-bottom: 28px;
  

  width: 7px;
  height: 5px;

  color: grey;

  border: none;
  background: none;
  outline: 0;  
}

.inputLikes {
  border: none;
  
  background: none;
  outline: 0;
  pointer-events: none;

  color: grey;

  width: 30px;
  padding: 5px 18px;
}



#btn-post-form {
  font-family: "Oxygen", sans-serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: .8em;
  color: rgba(171, 39, 138, 1);

  padding-top: 30px;
  padding-bottom: 28px;

  border: none;

  margin-left: 155px;
}

#btn-post-form:hover {
  color: black;
}

#signOutBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-family: "Oxygen", sans-serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: .8em;
  color: rgba(171, 39, 138, 1);

  padding-top: 30px;
  padding-bottom: 28px;
}

#signOutBtn:hover {
  color: black;
}

#footer-home {
  padding-top: 30px;
  padding-bottom: 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-family: "Oxygen", sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: .5em;
}

/*  HOME / This applies from 600 to onwards  */

@media (min-width: 600px) {
  .cabeceraHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    
  .topHome {
    width: 100%;
    height: 30vh;
    
    background: url("img/women/02-patti.jpg") no-repeat 40% top;
    background-position: center;
  }
    
  .layerHome {
    width: 100%;
    height: 30vh;
    
    background: linear-gradient(
      90deg,
      rgba(171, 39, 138, 1) 35%,
      rgba(178, 196, 245, 1) 100%
    ) no-repeat;
    opacity: 76%;
  }
    
  .layerHome img {
    width: 200px;
  }
  
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
  
    font-family: "Oxygen", sans-serif;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: .8em;

    margin-top: 20px;
    margin-bottom: 20px;
  }

}

/* HOME TEMPLATES 2 / This applies from 0 to 600px  */

#postConteiner {
  width: 350px;
}

#btnContenedor {
  width: 60px;
  background-color: #eeeeee;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;

  margin-left: 330px;

  font-weight: 800;
}

#postTitle {
  width: 350px;
  height: 30px;

  font-size: 1em;
  letter-spacing: 2px;
  font-family: "Oxygen", sans-serif;
  color: black;
}

#postDescription {
  width: 350px;
  height: 70px;

  font-size: .8em;
  letter-spacing: 2px;
  font-family: "Oxygen", sans-serif;
  color: black;

  background-color: rgba(178, 196, 245, 1);
  opacity: 45%;
  border: none;

  margin-bottom: 15px;
}

/* HOVER LISTA */

#btnContenedor {
  position: relative;
  display: inline-block;
}

#btnLista {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;

  min-width: 70px;
}

#btnLista li {
  font-size: .7em;
  letter-spacing: 2px;
  font-family: "Oxygen", sans-serif;
  color: white;

  padding: 12px 16px;
  display: block;
}

#btnLista li:hover {
  background-color: white;
  color: black;
}

#btnContenedor:hover #btnLista {
  display: block;
}
